<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="br.com.fiap.fiapmobile" platformBuildVersionCode="17" platformBuildVersionName="4.2.2-1425461">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-permission android:name="android.permission.READ_OWNER_DATA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="br.com.fiap.fiapmobile.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="br.com.fiap.fiapmobile.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name=".MyApplication" android:theme="@style/Theme.Styled">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:label="@string/app_name" android:name=".LoginActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/painel" android:name=".PainelActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_lista" android:name=".ListaDisciplinasActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_lista_apostilas" android:name=".ListaApostilasActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_aviso_item" android:name=".AvisoItem" android:screenOrientation="portrait" android:theme="@style/Theme.Avisos"/>
        <activity android:label="@string/title_activity_aviso_item" android:name=".LeitorPdf" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_boletim_pager" android:name=".BoletimPager" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_trabalhospos_pager" android:name=".TrabalhosPosPager" android:screenOrientation="portrait"/>
        <receiver android:name="br.com.fiap.tools.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="br.com.fiap.fiapmobile"/>
            </intent-filter>
        </receiver>
        <service android:name="br.com.fiap.tools.GcmIntentService"/>
        <activity android:label="@string/title_activity_boletim_pos" android:name=".BoletimPos"/>
        <activity android:label="@string/title_activity_aulas_pos" android:name=".AulasPos"/>
        <receiver android:name="br.com.fiap.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widgetproviderinfo"/>
        </receiver>
        <activity android:label="@string/title_activity_aulas_graduacao" android:name=".AulasGraduacao"/>
    </application>
</manifest>